
header{
    background-color: aqua;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:black;
    display: flex;

}
/*header start*/
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font: bold;
    padding: 10px;
    margin-top: 10px;


}
.nav {
    display: flex;
    justify-content: center;


padding-left:200px ;

    
}
.nav ul{
    list-style: none;

}
.nav ul li{
    background-color: wheat;
    width: 170px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    float: left;



}
.nav ul li a{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav ul li:hover{
    background-color: deeppink;
    transition:all ease-in 1s;
}
.nav ul ul{
    display: none;
}
.nav ul li:hover >ul{
    display: block;
}
/*end*/
/*from st*/

.from1{
    background-color:crimson;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    height: fit-content;
    width: fit-content ;
    padding: 20px 60px;
    margin-top: 30px;
    border-radius: 5%;
    box-shadow:0 4px 8px 0 rgb(0 0 0 0.2), 0 6px 20px 0 rgb(0 0 0 0.19);

    
}
.from1 input{
    padding: 5px 30px;
   border-color: aqua ;
   border-radius: 50px;


}
.from .bt{
    font-weight: bold;


}
.from1 .bt:hover{
    background-color: aqua;
    transition: all ease-in 1s;
}





/*end*/


/*footer start*/
footer{
    height: ;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: aquamarine;
    width: 100%;

}
 H1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font: bold;
 }
 P{
    width: 500px;
    text-align: center;
    margin:0 auto;
    position: relative;
    
 }
 .F{
    background-color: aqua;
    height: 40px;
    font-size: 35px;
 }

